openapi: 3.1.0
info:
  version: 1.0.0
  title: Teacher Horizons API
  # termsOfService: 'https://example.com/terms/'
  contact:
    email: dev@teacherhorizons.com
    # url: 'http://example.com/contact'
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
  x-logo:
    url: "https://www.teacherhorizons.com/assets/bird/logo.png"
  description:
    $ref: "./info-description.md"
# externalDocs:
#   description: Find out how to create a GitHub repo for your OpenAPI definition.
#   url: 'https://github.com/Rebilly/generator-openapi-repo'
tags:
  # areas
  - name: Academy
    description: Operations relating to Academy
  - name: City # consider tag structure - Regional? Cities?
    description: Operations relating to a city
  - name: Job applications
    description: Operations relating to job applications
  - name: Lists
    description: Operations relating to simple lists of objects - such as subjects or countries
  - name: Schools
    description: ...
  - name: Teachers
    description: ...

  # statuses
  - name: status-current
    description: ...
  - name: status-proposed
    description: ...

  # non-th-examples
  - name: Example - Echo
    description: Example echo operations.
  - name: Example - User
    description: Operations about users.
  - name: Example - Tag
    description: This is a tag description.
servers:
  - url: "https://beta.teacherhorizons.com/th/api"
paths:
  # current
  /v1/lists:
    $ref: "./paths/current/lists/lists.yaml"
  /v3/schools/search/school-area/full:
    $ref: "./paths/current/schools/schools-set-1.yaml"
  /v3/city/id/{cityId}/profile:
    $ref: "./paths/current/regional/city-set-1.yaml"
  /v3/school/slug/academy/profile:
    $ref: "./paths/current/academy/academy-set-1.yaml"

  # proposed
  # TODO: consider versioning and 'sets'
  /job-applications:
    $ref: "./paths/proposed/job-applications/job-applications-set-1.yaml"
  /schools:
    $ref: "./paths/proposed/schools/schools.yaml"
  # /schools/{schoolId}:
  #   $ref: "./paths/proposed/schools/school.yaml"
  /teachers/set-1:
    $ref: "./paths/proposed/teachers/teachers-set-1.yaml"

  # non-th-examples
  "/users/{username}":
    $ref: "./paths/non-th-examples/users@{username}.yaml"
  /echo:
    $ref: "./paths/non-th-examples/echo.yaml"
  /pathItem:
    $ref: "./paths/non-th-examples/path-item.yaml"
  /pathItemWithExamples:
    $ref: "./paths/non-th-examples/path-item-with-examples.yaml"

# TODO: components section
components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: "http://example.com/api/oauth/dialog"
          scopes:
            "read:users": read users info
            "write:users": modify or remove users
    api_key:
      type: apiKey
      in: header
      name: api_key
    basic_auth:
      type: http
      scheme: basic
