openapi: 3.1.0
info:
  version: 1.0.0
  title: Example.com
  termsOfService: 'https://example.com/terms/'
  contact:
    email: contact@example.com
    url: 'http://example.com/contact'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://www.teacherhorizons.com/assets/bird/logo.png'
  description:
    $ref: ./info-description.md
externalDocs:
  description: Find out how to create a GitHub repo for your OpenAPI definition.
  url: 'https://github.com/Rebilly/generator-openapi-repo'
tags:
  - name: Job applications
    description: Operations relating to job applications
  - name: Lists
    description: Operations relating to simple lists of objects - such as subjects or countries

  # non-th-examples
  - name: Example - Echo
    description: Example echo operations.
  - name: Example - User
    description: Operations about users.
  - name: Example - Tag
    description: This is a tag description.
servers:
  - url: 'https://beta.teacherhorizons.com/th/api/'
paths:
  /v1/job-applications/job-applications/set-1:
    $ref: paths/job-applications/job-applications-set-1.yaml
  /v1/lists:
    $ref: paths/lists/lists.yaml

  # non-th-examples
  '/users/{username}':
    $ref: 'paths/users@{username}.yaml'
  /echo:
    $ref: paths/non-th-examples/echo.yaml
  /pathItem:
    $ref: paths/non-th-examples/path-item.yaml
  /pathItemWithExamples:
    $ref: paths/non-th-examples/path-item-with-examples.yaml
components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'http://example.com/api/oauth/dialog'
          scopes:
            'read:users': read users info
            'write:users': modify or remove users
    api_key:
      type: apiKey
      in: header
      name: api_key
    basic_auth:
      type: http
      scheme: basic
